extends layout

block content
  h1= title

  form(method='POST' action='/docv' enctype="multipart/form-data")
    div.form-group
      label(for='file01') file 01:
      input(type='file' name='file01' id='file01')
    div.form-group
      label(for='file01') file 02:
      input(type='file' name='file02' id='file02')    
    button.btn.btn-primary(type='submit') Compare
  br
  div.container
    div.row
      div.col-md-6(style='border: 1px dashed black;') !{res1}
      div.col-md-6(style='border: 1px dashed black;') !{res2}
  div.row
    div.col-md-12 !{result}