extends layout

block content
  h1= title
  p Welcome to #{title}
  p
    a(href="/login") Login
  p
    a(href="/upload") Upload
 
  List Document
  ul
    each v in result
      li
        a(href="/compose/"+ v.id) !{v.title}