extends layout

block content
  h1= title
  p Welcome to #{title}
  if !user
      p
        a(href="/register") Register 
        || 
        a(href="/login") Login    
  if user
    p
      a(href="/upload") Upload
 
    | List Document
    if result
      ul
        each v in result
          li
            | !{v.title} 
            || 
            a(href="/compose/"+ v.id) Edit 
            || 
            a(href="/history/"+ v.id) History 

