doctype html
html
  head
    title= title
    //script(src='/scripts/jquery-3.1.1.slim.min.js')
    script(src="/socket.io-client/dist/socket.io.js")
    script(src='/scripts/jquery.js')
    link(rel='stylesheet', href='/stylesheets/bootstrap.min.css')
    link(rel='stylesheet', href='/stylesheets/main.css')
    script(src="/scripts/ckeditor/ckeditor.js")
    
    script.
        var socket = io();
  body        
    #navbarHeader.collapse.bg-inverse
      .container
        .row
          .col-sm-8.py-4
            h4.text-white Release
            p.text-muted
              | Version 0.1
          .col-sm-4.py-4
            h4.text-white Features
            ul.list-unstyled
              li
                a.text-white(href='#') User Management
                
    .navbar.navbar-inverse.bg-inverse
      .container.d-flex.justify-content-between
        a.navbar-brand(href='/') DOC-VERSIONING
        button.navbar-toggler(type='button', data-toggle='collapse', data-target='#navbarHeader', aria-controls='navbarHeader', aria-expanded='false', aria-label='Toggle navigation')
          span.navbar-toggler-icon

    block header
    .album.text-muted
      .container
        block content

    if user
      a(href="/logout") !{user.username} | Logout
    script(src="/scripts/tether.min.js")
    script(src="/scripts/bootstrap.min.js")
    script(src="/scripts/holder.min.js")

    script.
      $(function () {
        Holder.addTheme("thumb", { background: "#55595c", foreground: "#eceeef", text: "Thumbnail" });
      });

    