extends layout

block content
  h1= title

  form(method='POST' action='/upload' enctype="multipart/form-data")
    div.form-group
      label(for='file01') word document:
      input(type='file' name='file01' id='file01')   
    button.btn.btn-primary(type='submit') Upload
  
  br
  div.row
    div.col-md-12 !{result}

  a(href="/") << | Homepage