extends layout

block content
  .container
  form(method='POST' action='/docs' enctype="multipart/form-data")
    .row
      .form-group
        label(for='file01') Upload file word:
        input.form-control(type='file' name='file01' id='file01')
    .row
      button.btn.btn-primary(type='submit') Submit  
  br
  .row
    .col-md-12 !{result}
  .row
    a(href="/") Home