extends ../layout

block header
block content
  .container
  form(method='POST' action='/users/login')
      h2.text-center.jumbotron-heading
        | Login
      .row        
        .form-group.col-md-4.offset-md-4
          label(for='username') Username*:
          input.form-control(type='text' name='username' id='username')
      .row
        .form-group.col-md-4.offset-md-4
          label(for='password') Password*:
          input.form-control(type='password' name='password' id='password')        
      .row
        .col-md-4.offset-md-4
          button.btn.btn-primary(type='submit') Submit    