extends ../layout

block content
  h1= title

  form(method='POST' action='/register')
    div.row
      div.form-group.col-lg-3
        label(for='username') Username:
        input.form-control(type='text' name='username' id='username')
    div.row
      div.form-group.col-lg-3
        label(for='password') Password:
        input.form-control(type='password' name='password' id='password')    
    button.btn.btn-primary(type='submit') Register  