extends ../layout
block header
block content
    .container
        .row
            h5 Paste from word | Compose
            form(method='POST' action='/docs/compose')
                .form-group
                    label(for='title') Title*:
                    input.form-control(type='text' name='title' id='title')
                .form-group
                    label(for='content')
                    textarea#content(name="content") 
                button.btn.btn-primary(type='submit') Save
        br
        .row
            p
                a(href="/") Home

block script
    script.
        $(function () {
            CKEDITOR.replace('content',{ customConfig: '/scripts/ckeditor_config.js'});            
        });
