extends ../layout

block header
block content
    .container
        .row
            form(method='POST' action='/edit')
                input(type='hidden' name='id' id='id' value=result.id)                
                .form-group
                    label(for='content')
                    textarea#content(name="content") !{result.content}    
                button.btn.btn-primary(type='submit') Save
        br
        .row
            p
                a(href="/") Home    
                | | 
                a(href="/history/"+ result.id) View History 
block script                
    script.
        $(function () {
            CKEDITOR.replace('content',{ customConfig: '/scripts/ckeditor_config.js'});    
            
            $('form').submit(function(){
                socket.emit('edit-word', CKEDITOR.instances.content.getData());                     
            });
            socket.on('edit-word', function(content){              
              CKEDITOR.instances.content.setData(content);
            });
        });
    
