extends ../layout

block content
    .container
        .row
            | !{result.content}
        br
        .row
            p
                a(href="/") Home 
                | | 
                a(href="/history/"+ result.docsId) View History